### DEVICE ###
GATEWAY_ID = "YOUR_GATEWAY_ID" # e.g. "012345678901"

### Wifi ###
WIFI_SSID = "YOUR_WIFI_SSID"
WIFI_PASSWORD = "YOUR_WIFI_PASSWORD"

### MQTT ###
TENANT_NAME = "YOUR_TENANT_NAME" # e.g. "public"
MQTT_SERVER = "YOUR_SERVER_ADDRESS" # e.g. "account-specific-prefix.iot.aws-region.amazonaws.com"
MQTT_PUB_TOPIC_BASE = "YOUR/MQTT/PUB/TOPIC/BASE/" # e.g. "$aws/rules/" for basic ingest